.theme-notice {border:2px dashed red;max-width:800px;}
.theme-notice ul {width:100%;margin:0;}
.theme-notice ul li {display: inline-block;}
.theme-notice .right {margin-left: 50px;}
.theme-notice .button-hero {float: right;margin-bottom: 12px;}